@import "../_scss/_color";
.container{
    background:$my_containerBg;
    >div{
        width: 1000px;
        margin:0 auto;
        >h3{
            color:$my_black;
        }
        >hr{
            color:$my_black;
             margin: 3px 0;
        }
        >form{
            >div:first-child,>div:last-child{
                background: $my_red;
                height: 40px;
                color: $my_black;
                text-align: center;
                >div{
                    >label{
                        cursor: pointer;
                    }
                }
                >div>*{
                    margin: auto;  
                }
            }
            >div{
                background: white;
                padding:0 10px;
                >div{
                    display: flex;
                    align-items: center;
                    >div{
                        display: flex;
                        align-items: center;
                        height: 70px;
                        border-bottom:1px solid $my_black;
                        >*{
                            margin: auto;
                        }
                    }
                    >div:first-child{
                        flex: 1;
                    }
                    >div:nth-child(2){
                        flex:5;
                        >p{
                            font-size: 10px;
                            color: $my_black;
                        }
                    }
                    >div:nth-child(3){
                        flex:2;
                        color: $my_blue;
                    }
                    >div:nth-child(4){
                        flex: 2;
                        >span{
                            display: flex;
                            align-items: center;
                            >button{
                                color: white;
                                background: $my_blue;
                                width: 25px;
                                height: 25px;
                                cursor: pointer;
                                border-radius: 5px;
                            }
                            >input{
                                width: 30px;
                                text-align: center;
                            }
                        }
                    }
                    >div:nth-child(5){
                        flex: 2;
                        color: $my_blue;
                    }
                    div:last-child{
                        flex:1;
                        >input{
                            color: white;
                            background: $my_blue;
                            padding: 10px;
                            cursor:pointer;
                            border-radius: 5px;
                        }
                    }
                }
            }
            >div:last-child{
                position: relative;
                top: -1px;
                padding-right: 0;
                >div:nth-child(2){
                    >button{
                        background: red;
                        color: white;
                        padding: 5px 10px;
                        cursor: pointer;                  
                        border-radius: 5px;
                    }
                }
                >div{
                    >input{
                        color: white;
                        background: #666666;
                        padding:3px 5px;        
                        cursor: pointer;
                        border-radius: 5px;
                    }
                }
                
                >span{
                    >p:first-child{
                        margin-left:auto ;
                        >span{
                            color: rgb(0,127,255);
                            font-size: 20px;
                            padding: 0 3px;
                        }
                    }
                    >p:nth-child(2){
                        margin-left: 30px;
                    }
                    >p:last-child{
                        margin-right: 10px;
                    }
                }
                >input{
                    color: white;
                    background:$my_blue;
                    height: 40px;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }
    }
}
.popUpWindow{
    display: none;
    position: fixed;
    width: 250px;
    height: 112px;
    border: 2px solid red;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    z-index: 10;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
    >p{
        margin-bottom: 10px;
    }
    >div{
        >button{
            padding: 10px 20px;
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }
        >button:first-child{
            background: red;
            margin-right: 10px;
        }
        >button:last-child{
            background: rgb(0,127,255);
        }
    }
}