@import "../_scss/_color";
.container{
    background: rgb(255,240,240);
    >div{
        width: 1000px;
        margin: 0 auto;
        >div:first-child{
            margin-bottom: 10px;
            >a{
                font-size:15px;
                color:black;
            }
        }
        >div:nth-child(2){
            >div:first-child{
                padding-right: 30px;
                position: relative;
                >div:first-child{
                    background: white;
                    margin-bottom: 20px;
                    position: relative;
                    width: 450px;
                    >img{
                        margin: auto;
                    }
                    >div:nth-child(2){
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        z-index: 10;
                    }
                    >div:nth-child(3){
                        width: 50%;
                        height: 50%;
                        position: absolute;
                        background: url(../img/product_detail/T12pdtXaldXXXXXXXX-2-2.png);
                        display: none;
                    }
                    &:hover>div:nth-child(3){
                        display: block;
                    }
                }
                >div:nth-child(2){
                    width:450px;
                    overflow: hidden;
                    position:relative;
                    border-left:1px solid black;
                    height: 90px; 
                    >div{
                        width: 1000px;
                        position: absolute;
                        left: 0;
                        transition: left linear .5s;
                        >img{
                            width:(450px/5); 
                            border: 1px solid black;
                            border-left: 1px solid transparent;
                            &:hover{
                                border: 1px solid red !important;
                            }                           
                        }
                        >img[data-focus]{
                            border: 1px solid $my_blue !important;
                        }
                    }
                    >span{
                        position: absolute;
                        border:20px solid transparent;
                    }
                    >span:nth-child(2){
                        border-right:20px solid rgba(0,0,0,.5);
                        left: -10px;
                        cursor: pointer;
                    }
                    >span:last-child{
                        border-left:20px solid rgba(0,0,0,.5);
                        right:-10px;
                        cursor: pointer;
                    }
                }
                >div:nth-child(3){
                    position: absolute;
                    top: 0;
                    left: 460px;
                    display: none;
                    width: 400px;
                    height: 400px;
                    overflow: hidden;
                    background: white;
                    >img{
                        position:absolute ;
                    }
                }
            }
            >form:last-child{
                padding-left: 30px;
                >p:nth-child(2){
                    color: $my_black ;
                    padding-bottom: 5px;
                }
                >div:nth-child(3){
                    padding: 5px 10px;
                    background:$my_red;
                    border-radius: 10px;
                    >div{
                        color:$my_black;
                    }
                    >div:first-child{
                        margin-bottom: 5px;
                        >span:last-child{
                            font-size:25px;
                            color:$my_blue;
                        }
                    }
                }
                >div:nth-child(4){
                    display: flex;
                    align-items: center;
                    >a{
                        color: $my_black;                 
                    }
                }
                >div:nth-child(5){
                    >p:first-child{
                        color: $my_black;
                    }
                    >div:nth-child(2){
                        overflow: hidden;
                        >a{
                            border:1px solid $my_black;
                            font-size: 10px;
                            padding: 5px ;
                            margin: 0 2px 2px 0;
                            &:hover{
                                border-color: $my_blue;
                                color: $my_blue;
                            }
                        }
                        >a[data-focus]{
                            border:1px solid $my_blue;
                            color: $my_blue;
                        }
                    }
                }
                >div:nth-child(6){
                    >p:first-child{
                        color: $my_black;
                    }
                    >button{
                        padding: 5px 10px;
                        background: $my_blue;
                        color: white;
                        cursor: pointer;
                    }
                    >input{
                        width: 30px;
                        text-align: center;
                        background:white;
                    }
                }
                >div:last-child{
                    >input{
                        color: white;
                        height: 40px;
                        border-radius: 5px;
                        cursor: pointer;                   
                    }
                    >input:first-child{
                        background:rgb(255,200,127);
                    }
                    >input:nth-child(2){
                        background: $my_blue;
                        margin:0 10px;
                    }
                    >input:last-child{
                        background:rgb(255,127,127);
                    }
                }
                
            }
        }
        >div:nth-child(3){
            margin-top: 30px;
            >div:first-child{
                >span:first-child{
                    font-size: 20px;
                }
                >span:last-child{
                    margin-left: 10px;
                    font-size: 10px;
                    background:rgb(0,0,0);
                    color: white;
                    border-radius: 10px 0 10px 0;
                    padding:0 4px;
                }
            }
            >div:nth-child(2){
                overflow: hidden;
                >ul{
                    width:2000px;
                    padding: 10px 0 20px 0;
                    >li{
                        width: 25%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        height: 180px;
                        >p{
                            font-size: 10px;
                            color: $my_black;
                            text-align: center;
                            margin-top: auto;
                            width: 60%;
                        }
                    }
                }
            }
        }
        >div:nth-child(4){
            >div:first-child{
                >div:not(:first-child){
                    width: 750px;
                }
                >div{
                    >p:first-child{
                        display: flex;
                        align-items: center;
                        color: $my_black;
                        font-weight: bold;
                        margin: 10px 0;
                        >img{
                            margin-left: 10px;
                        }
                        &:target{
                            color: $my_blue;
                        }
                    }
                }
                >div:first-child{
                    height: 48px;
                    background: $my_red;
                    >button{
                        margin-left: 20px;
                        font-size: 20px;                        
                        color: $my_black;
                        cursor: pointer;
                    }
                }
                >div:nth-child(2){
                    >div{
                        >div{
                            margin-bottom: 10px;
                            >p{
                                flex:1;
                                color: $my_black;
                                font-size: 10px;
                            }
                        }
                    }
                }
                >div:nth-child(4){
                    >p:not(:first-child){
                        color: $my_black;
                        font-size: 10px;
                        margin-bottom: 30px;
                    }
                    >div{
                        margin: 10px;
                        >p{
                            margin-left: 10px;
                            color: $my_black;
                            font-size: 20px;
                        }
                    }
                }
                >div:nth-child(5){
                    >p:last-child{
                        font-size: 10px;
                        color: $my_black;
                    }
                }
                
            }
            >form:nth-child(2){
                border-left: 1px solid $my_red;
                >div{
                    >*{
                        height: 48px;
                        width:100%;
                        font-size: 20px;
                        color: $my_black;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        justify-content: center;
                        >p{
                            margin-left: 10px;
                        }
                    }
                    >input{
                        background: $my_blue url(../img/foodstore/foodstore_car_2.png) no-repeat 10% 50% ;
                        color: white;
                        margin-bottom: 80px;
                        padding-left:50px ;
                    }
                    >a{
                        margin-bottom: 10px;
                        background: white;
                        border-radius:30px 0 30px 0;
                    }
                    >a:nth-child(2){
                        background:white url(../img/product_detail/product_detail_icon_g_1.png) no-repeat 10% 50%;
                    }
                    >a:nth-child(2)[data-right_side="blue"]{
                        background:$my_blue url(../img/product_detail/product_detail_icon_g.png) no-repeat 10% 50%;
                        color: white;
                    }
                    
                    >a:nth-child(3){
                        background:white url(../img/product_detail/product_detail_icon_t_1.png) no-repeat 10% 50%;
                    }
                    >a:nth-child(3)[data-right_side="blue"]{
                        background:$my_blue url(../img/product_detail/product_detail_icon_t.png) no-repeat 10% 50%;
                        color: white;
                    }
                    
                    >a:nth-child(4){
                        background:white url(../img/product_detail/product_detail_icon_3.png) no-repeat 10% 50%;
                    }
                    >a:nth-child(4)[data-right_side="blue"]{
                        background:$my_blue url(../img/product_detail/product_detail_icon_d.png) no-repeat 10% 50%;
                        color: white;
                    }
                    
                    >a:nth-child(5){
                        background:white url(../img/product_detail/product_detail_icon_2.png) no-repeat 10% 50%;
                    }
                    >a:nth-child(5)[data-right_side="blue"]{
                        background:$my_blue url(../img/product_detail/product_detail_icon_bao.png) no-repeat 10% 50%;
                        color: white;
                    }
                    
                    >a:nth-child(6){
                        background:white url(../img/index/stationery_icon.png) no-repeat 10% 50%;
                    }
                    >a:nth-child(6)[data-right_side="blue"]{
                        background:$my_blue url(../img/index/stationery_icon1.png) no-repeat 10% 50%;
                        color: white;
                    }
                    
                    >a:nth-child(7){
                        background:white url(../img/product_detail/product_detail_icon_up_1.png) no-repeat 10% 50%;
                    }
                    >a:nth-child(7)[data-right_side="blue"]{
                        background:$my_blue url(../img/product_detail/product_detail_icon_up.png) no-repeat 10% 50%;
                        color: white;
                    }
                }
            }
        }
    }
}

[data-fixed="rightSide"]{
    width: 200px;
    position: fixed;
    z-index:10;
    top:50px;
}
