.container {
  background: #fff0f0;
}
.container > div {
  width: 1000px;
  margin: 0 auto;
}
.container > div > div:first-child {
  margin-bottom: 10px;
}
.container > div > div:first-child > a {
  font-size: 15px;
  color: black;
}
.container > div > div:nth-child(2) > div:first-child {
  padding-right: 30px;
  position: relative;
}
.container > div > div:nth-child(2) > div:first-child > div:first-child {
  background: white;
  margin-bottom: 20px;
  position: relative;
  width: 450px;
}
.container > div > div:nth-child(2) > div:first-child > div:first-child > img {
  margin: auto;
}
.container > div > div:nth-child(2) > div:first-child > div:first-child > div:nth-child(2) {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}
.container > div > div:nth-child(2) > div:first-child > div:first-child > div:nth-child(3) {
  width: 50%;
  height: 50%;
  position: absolute;
  background: url(../img/product_detail/T12pdtXaldXXXXXXXX-2-2.png);
  display: none;
}
.container > div > div:nth-child(2) > div:first-child > div:first-child:hover > div:nth-child(3) {
  display: block;
}
.container > div > div:nth-child(2) > div:first-child > div:nth-child(2) {
  width: 450px;
  overflow: hidden;
  position: relative;
  border-left: 1px solid black;
  height: 90px;
}
.container > div > div:nth-child(2) > div:first-child > div:nth-child(2) > div {
  width: 1000px;
  position: absolute;
  left: 0;
  transition: left linear .5s;
}
.container > div > div:nth-child(2) > div:first-child > div:nth-child(2) > div > img {
  width: 90px;
  border: 1px solid black;
  border-left: 1px solid transparent;
}
.container > div > div:nth-child(2) > div:first-child > div:nth-child(2) > div > img:hover {
  border: 1px solid red !important;
}
.container > div > div:nth-child(2) > div:first-child > div:nth-child(2) > div > img[data-focus] {
  border: 1px solid #007fff !important;
}
.container > div > div:nth-child(2) > div:first-child > div:nth-child(2) > span {
  position: absolute;
  border: 20px solid transparent;
}
.container > div > div:nth-child(2) > div:first-child > div:nth-child(2) > span:nth-child(2) {
  border-right: 20px solid rgba(0, 0, 0, 0.5);
  left: -10px;
  cursor: pointer;
}
.container > div > div:nth-child(2) > div:first-child > div:nth-child(2) > span:last-child {
  border-left: 20px solid rgba(0, 0, 0, 0.5);
  right: -10px;
  cursor: pointer;
}
.container > div > div:nth-child(2) > div:first-child > div:nth-child(3) {
  position: absolute;
  top: 0;
  left: 460px;
  display: none;
  width: 400px;
  height: 400px;
  overflow: hidden;
  background: white;
}
.container > div > div:nth-child(2) > div:first-child > div:nth-child(3) > img {
  position: absolute;
}
.container > div > div:nth-child(2) > form:last-child {
  padding-left: 30px;
}
.container > div > div:nth-child(2) > form:last-child > p:nth-child(2) {
  color: #969696;
  padding-bottom: 5px;
}
.container > div > div:nth-child(2) > form:last-child > div:nth-child(3) {
  padding: 5px 10px;
  background: #ffdcdc;
  border-radius: 10px;
}
.container > div > div:nth-child(2) > form:last-child > div:nth-child(3) > div {
  color: #969696;
}
.container > div > div:nth-child(2) > form:last-child > div:nth-child(3) > div:first-child {
  margin-bottom: 5px;
}
.container > div > div:nth-child(2) > form:last-child > div:nth-child(3) > div:first-child > span:last-child {
  font-size: 25px;
  color: #007fff;
}
.container > div > div:nth-child(2) > form:last-child > div:nth-child(4) {
  display: flex;
  align-items: center;
}
.container > div > div:nth-child(2) > form:last-child > div:nth-child(4) > a {
  color: #969696;
}
.container > div > div:nth-child(2) > form:last-child > div:nth-child(5) > p:first-child {
  color: #969696;
}
.container > div > div:nth-child(2) > form:last-child > div:nth-child(5) > div:nth-child(2) {
  overflow: hidden;
}
.container > div > div:nth-child(2) > form:last-child > div:nth-child(5) > div:nth-child(2) > a {
  border: 1px solid #969696;
  font-size: 10px;
  padding: 5px;
  margin: 0 2px 2px 0;
}
.container > div > div:nth-child(2) > form:last-child > div:nth-child(5) > div:nth-child(2) > a:hover {
  border-color: #007fff;
  color: #007fff;
}
.container > div > div:nth-child(2) > form:last-child > div:nth-child(5) > div:nth-child(2) > a[data-focus] {
  border: 1px solid #007fff;
  color: #007fff;
}
.container > div > div:nth-child(2) > form:last-child > div:nth-child(6) > p:first-child {
  color: #969696;
}
.container > div > div:nth-child(2) > form:last-child > div:nth-child(6) > button {
  padding: 5px 10px;
  background: #007fff;
  color: white;
  cursor: pointer;
}
.container > div > div:nth-child(2) > form:last-child > div:nth-child(6) > input {
  width: 30px;
  text-align: center;
  background: white;
}
.container > div > div:nth-child(2) > form:last-child > div:last-child > input {
  color: white;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}
.container > div > div:nth-child(2) > form:last-child > div:last-child > input:first-child {
  background: #ffc87f;
}
.container > div > div:nth-child(2) > form:last-child > div:last-child > input:nth-child(2) {
  background: #007fff;
  margin: 0 10px;
}
.container > div > div:nth-child(2) > form:last-child > div:last-child > input:last-child {
  background: #ff7f7f;
}
.container > div > div:nth-child(3) {
  margin-top: 30px;
}
.container > div > div:nth-child(3) > div:first-child > span:first-child {
  font-size: 20px;
}
.container > div > div:nth-child(3) > div:first-child > span:last-child {
  margin-left: 10px;
  font-size: 10px;
  background: black;
  color: white;
  border-radius: 10px 0 10px 0;
  padding: 0 4px;
}
.container > div > div:nth-child(3) > div:nth-child(2) {
  overflow: hidden;
}
.container > div > div:nth-child(3) > div:nth-child(2) > ul {
  width: 2000px;
  padding: 10px 0 20px 0;
}
.container > div > div:nth-child(3) > div:nth-child(2) > ul > li {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 180px;
}
.container > div > div:nth-child(3) > div:nth-child(2) > ul > li > p {
  font-size: 10px;
  color: #969696;
  text-align: center;
  margin-top: auto;
  width: 60%;
}
.container > div > div:nth-child(4) > div:first-child > div:not(:first-child) {
  width: 750px;
}
.container > div > div:nth-child(4) > div:first-child > div > p:first-child {
  display: flex;
  align-items: center;
  color: #969696;
  font-weight: bold;
  margin: 10px 0;
}
.container > div > div:nth-child(4) > div:first-child > div > p:first-child > img {
  margin-left: 10px;
}
.container > div > div:nth-child(4) > div:first-child > div > p:first-child:target {
  color: #007fff;
}
.container > div > div:nth-child(4) > div:first-child > div:first-child {
  height: 48px;
  background: #ffdcdc;
}
.container > div > div:nth-child(4) > div:first-child > div:first-child > button {
  margin-left: 20px;
  font-size: 20px;
  color: #969696;
  cursor: pointer;
}
.container > div > div:nth-child(4) > div:first-child > div:nth-child(2) > div > div {
  margin-bottom: 10px;
}
.container > div > div:nth-child(4) > div:first-child > div:nth-child(2) > div > div > p {
  flex: 1;
  color: #969696;
  font-size: 10px;
}
.container > div > div:nth-child(4) > div:first-child > div:nth-child(4) > p:not(:first-child) {
  color: #969696;
  font-size: 10px;
  margin-bottom: 30px;
}
.container > div > div:nth-child(4) > div:first-child > div:nth-child(4) > div {
  margin: 10px;
}
.container > div > div:nth-child(4) > div:first-child > div:nth-child(4) > div > p {
  margin-left: 10px;
  color: #969696;
  font-size: 20px;
}
.container > div > div:nth-child(4) > div:first-child > div:nth-child(5) > p:last-child {
  font-size: 10px;
  color: #969696;
}
.container > div > div:nth-child(4) > form:nth-child(2) {
  border-left: 1px solid #ffdcdc;
}
.container > div > div:nth-child(4) > form:nth-child(2) > div > * {
  height: 48px;
  width: 100%;
  font-size: 20px;
  color: #969696;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
.container > div > div:nth-child(4) > form:nth-child(2) > div > * > p {
  margin-left: 10px;
}
.container > div > div:nth-child(4) > form:nth-child(2) > div > input {
  background: #007fff url(../img/foodstore/foodstore_car_2.png) no-repeat 10% 50%;
  color: white;
  margin-bottom: 80px;
  padding-left: 50px;
}
.container > div > div:nth-child(4) > form:nth-child(2) > div > a {
  margin-bottom: 10px;
  background: white;
  border-radius: 30px 0 30px 0;
}
.container > div > div:nth-child(4) > form:nth-child(2) > div > a:nth-child(2) {
  background: white url(../img/product_detail/product_detail_icon_g_1.png) no-repeat 10% 50%;
}
.container > div > div:nth-child(4) > form:nth-child(2) > div > a:nth-child(2)[data-right_side="blue"] {
  background: #007fff url(../img/product_detail/product_detail_icon_g.png) no-repeat 10% 50%;
  color: white;
}
.container > div > div:nth-child(4) > form:nth-child(2) > div > a:nth-child(3) {
  background: white url(../img/product_detail/product_detail_icon_t_1.png) no-repeat 10% 50%;
}
.container > div > div:nth-child(4) > form:nth-child(2) > div > a:nth-child(3)[data-right_side="blue"] {
  background: #007fff url(../img/product_detail/product_detail_icon_t.png) no-repeat 10% 50%;
  color: white;
}
.container > div > div:nth-child(4) > form:nth-child(2) > div > a:nth-child(4) {
  background: white url(../img/product_detail/product_detail_icon_3.png) no-repeat 10% 50%;
}
.container > div > div:nth-child(4) > form:nth-child(2) > div > a:nth-child(4)[data-right_side="blue"] {
  background: #007fff url(../img/product_detail/product_detail_icon_d.png) no-repeat 10% 50%;
  color: white;
}
.container > div > div:nth-child(4) > form:nth-child(2) > div > a:nth-child(5) {
  background: white url(../img/product_detail/product_detail_icon_2.png) no-repeat 10% 50%;
}
.container > div > div:nth-child(4) > form:nth-child(2) > div > a:nth-child(5)[data-right_side="blue"] {
  background: #007fff url(../img/product_detail/product_detail_icon_bao.png) no-repeat 10% 50%;
  color: white;
}
.container > div > div:nth-child(4) > form:nth-child(2) > div > a:nth-child(6) {
  background: white url(../img/index/stationery_icon.png) no-repeat 10% 50%;
}
.container > div > div:nth-child(4) > form:nth-child(2) > div > a:nth-child(6)[data-right_side="blue"] {
  background: #007fff url(../img/index/stationery_icon1.png) no-repeat 10% 50%;
  color: white;
}
.container > div > div:nth-child(4) > form:nth-child(2) > div > a:nth-child(7) {
  background: white url(../img/product_detail/product_detail_icon_up_1.png) no-repeat 10% 50%;
}
.container > div > div:nth-child(4) > form:nth-child(2) > div > a:nth-child(7)[data-right_side="blue"] {
  background: #007fff url(../img/product_detail/product_detail_icon_up.png) no-repeat 10% 50%;
  color: white;
}

[data-fixed="rightSide"] {
  width: 200px;
  position: fixed;
  z-index: 10;
  top: 50px;
}

/*# sourceMappingURL=product_details.css.map */
