<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>商品列表-学子商城</title>
		<link rel="icon" href="img/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="css/head.css"/>
		<link rel="stylesheet" type="text/css" href="css/foot.css"/>
		<link rel="stylesheet" href="css/products.css" />
		<script src="js/my.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/qs.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/products.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="container" id="container">
		  <div class="head" :style="headStyle">
		  	<a href="index.html" target="_blank">
				<img src="img/footer/logo.png" />
		  	</a>
			<div class="search">
				<input type="text" placeholder="请输入你要搜索的内容"  v-model="keywork" @keyup.13="search()"/>
				<div class="searchResult" :style="searchResultStyle">
					<p v-for="p in productTitle" @click="searchClick($event)">{{p}}</p>
				</div>
				<div>
					<div>
						<span @click="classMenu($event)">
							<p>{{classSearch}}</p>
							<img id="a_img" src="img/header/header_normal.png" :style="triangleStyle"/>
						</span>
						<div class="flexColumnCenter" :style="menuStyle" @click="menus($event)">
							<p>全部</p>
							<p>电子产品</p>
							<p>生活食物</p>
							<p>其他</p>
						</div>
					</div>
					<a :href=`products.html?keywork=${keywork}`>
						<img src="img/header/search.png" />
					</a>
				</div>
			</div>
			<div class="rightHead">
				<div v-show="isLogin"><a href="my_collect.html" target="_blank"><img src="img/header/care.png" /></a><p>我的收藏</p></div>
				<div v-show="isLogin"><a href="lookforward.html" target="_blank"><img src="img/header/order.png" /></a><p>用户中心</p></div>
				<div v-show="isLogin"><a href="cart.html" target="_blank"><img src="img/header/shop_car.png" /></a><p>我的购物车</p></div>
				<div v-show="!isLogin"><a href="register.html" target="_blank">注册</a><p>注册新用户</p></div>
				<div v-show="!isLogin"><a href="login.html" target="_blank">登录</a><p>用户登录</p></div>
				<div v-show="isLogin" :title="`用户:${uname}`" @click="avatarClick()"></div>
			</div>
			<div class="quit" @click="signout()" :style="quitStyle">
				<p>退出登录</p>
			</div>
		  </div>
		  <a href="index.html" target="_blank">首页</a>
		  <a href="lookforward.html" target="_blank">学习用品</a>
		  <a href="lookforward.html" target="_blank">私人定制</a><br /><br />
		  
		  <div>
		  	<img src="img/register/index_guild.png"/>
		  	<div class="flex">
			  	<form class="f-8" ref="commodityDesktop">
			  		<div ref="commoditys">
				  		<div v-for="product in productView">
					  		<a :href=`product_details.html?lid=${product.lid}`>
						  		<img :src="`${product.md}`"/>
					  		</a>
					  		<div>
					  			<p>￥{{product.price}}</p>
					  			<p>{{product.title}}</p>
					  			<div>
					  				<button type="button">-</button>
					  				<input type="text" value="1" />
					  				<button type="button">+</button>
						  			<input type="button" value="加入购物车" ref="gouwuche" @click="gouwucheClick($event)"/>
					  			</div>
					  		</div>
				  		</div>
				  	</div>
			  		<div class="page" ref="pages">
			  			<button type="button">上一页</button>
			  			<button type="button" v-for="i in pages">{{i}}</button>
			  			<button type="button">下一页</button>
			  		</div>
			  	</form>
			  	<div class="f-2">
			  		<div>
			  			<div class="flexRowCenter">
			  				<img src="img/foodstore/foodstore_icon2.png"/>
			  				<p>商家公告</p>
			  			</div>
			  			<div>
			  				<p>本店推出全网最低价套餐，保证比其他平台的价格要低！</p>
			  				<p>不要葱、姜、蒜等这些忌口暂时无法做不了，敬请谅解！</p>
			  				<p>晚上10点以后订餐需另加送餐费2元！谢谢合作！</p>
			  			</div>
			  		</div>
			  		<form>
			  			<div class="flexRowCenter">
			  				<p>购物车</p>
			  				<button type="button" @click="qingkong()" :style="redStyle">清空</button>
			  			</div>
			  			<div class="flexRowCenter">
			  				<div class="flexRowCenter" @click="tiaozhuangouwuche()">
			  					<img src="img/foodstore/foodstore_car_2.png"/>
			  					<p ref="totalPrice">￥:{{totalPrice.toFixed(2)}}</p>
			  				</div>
			  				<input type="button" value="去结算" />
			  			</div>
			  		</form>
			  	</div>		  		
		  	</div>
		  </div>
		  
			<div class="first">
					<div>
						<img src="img/footer/icon1.png"/>
						<p>品质保障</p>
					</div>
					<div>
						<img src="img/footer/icon2.png"/>
						<p>私人定制</p>
					</div>
					<div>
						<img src="img/footer/icon3.png"/>
						<p>学员特供</p>
					</div>
					<div>
						<img src="img/footer/icon4.png"/>
						<p>专属特权</p>
					</div>
			</div>
		</div>
		<div class="last">
				<div>
					<div class="left">
						<div>
							<img src="img/header/logo.png"/><br>
							<img src="img/footer/footerFont.png" />
						</div>
					</div>
					<div class="center">
						<div>
							<h3><a href="#">买家帮助</a></h3>
							<a href="#">新手指南</a>
							<a href="#">服务保障</a>
							<a href="#">常见问题</a>
						</div>
						<div>
							<h3><a href="#">商家帮助</a></h3>
							<a href="#">商家入驻</a>
							<a href="#">商家后台</a>
						</div>
						<div>
							<h3><a href="#">关于我们</a></h3>
							<a href="#">关于达内</a>
							<a href="#">联系我们</a>
							<span class="flex">
								<a href="#" style="margin-top:3px;"><img src="img/footer/wechat.png" /></a>
								<a href="#" style="margin-left:1px;"><img src="img/footer/sinablog.png" /></a>
							</span>
						</div>
					</div>
					<div class="right">
					  <div>
						<div>
							<p>学子商城客户端</p>
							<a href="#"><img src="img/footer/ios.png"/></a>
							<a href="#" style="margin-top: 3px;"><img src="img/footer/android.png"/></a>
						</div>
						<img src="img/footer/erweima.png" />
					  </div>
					</div>
				</div>
				<p>&copy;2017 达内科技有限公司版权所有 京ICP备08000853号-75</p>
			</div>
		
	</body>
</html><!--
