<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="icon" href="img/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="css/sun.css"/>
		<link rel="stylesheet" href="css/product_details.css" />
		<script src="js/product_details.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/my.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/qs.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="container">
			<iframe src="head.html" frameborder="0" scrolling="no" width="100%" height="170px"></iframe>
			
			<div>
				<div class="flexRowCenter">
					<a href="index.html">首页</a>
					<p>></p>
					<a href="products.html">电子产品</a>
					<p>></p>
					<a :href="`product_details.html?lid=${product.lid}`">{{product.laptop_family}}</a>
				</div>
				
				<div class="flex">
					<div class="f-1">
						<div class="flex" :data-lg="pic.lg">
							<img :src="pic.md"/>
							<div></div>
							<div></div>
						</div>
						<div class="flexRowCenter">
							<div class="flexRowCenter" >
								<img v-for="(pic,i) in pics" :data-url="pic.sm" :data-md="`../${pic.md}`" :data-lg="`../${pic.lg}`" @click="picFun($event)"/>								
							</div>
							<span></span>
							<span></span>
						</div>
						<div class="flex">
							<img />
						</div>
					</div>
					<form class="flexColumn f-1" ref="buyArea">
						<h3 class="f-2">{{product.title}}</h3>
						<p href="#"class="f-1">{{product.subtitle}}</p>
						<div class="f-3">
							<div>
								<span>学员售价：</span>
								<span>￥{{product.price}}</span>								
							</div>
							<div>
								<span>服务承诺：</span>
								<span>{{product.promise}}</span>
							</div>
						</div>
						<div class="f-1">
							<a href="#">联系客服</a>
							<img src="img/product_detail/kefuf.gif" />
						</div>
						<div class="flexRowStart f-8">
							<p class="f-1">规格：</p>
							<div class="flexRowWrap  f-8">
								<a :href="`product_details.html?lid=${spec.lid}`" :data-lid="`${spec.lid}`" v-for="spec in specs">{{spec.spec}}</a>
							</div>
						</div>
						<div class=" flexRowCenter f-1">
							<p>数量：</p>
							<button type="button">-</button>
							<input type="text" id="" value="1" />
							<button type="button">+</button>							
						</div>
						<div class="flexRowCenter f-2">
							<input class="f-5" type="button" id="" value="立即购买" />
							<input class="f-5" type="button" id="" value="加入购物车" />
							<input class="f-1" type="button" id="" value="收藏" />
						</div>
					</form>
				</div>
				
				<div>
					<div>
						<span>为你推荐</span>
						<span>大家都在看</span>
					</div>
					<div>
						<ul class="flexRowCenter" >
							<li>
								<a href="product_details.html?lid=28">
									<img data-url="img/product_detail/product_detail_1.png"/>
								</a>
								<p>
									ThinkPad New S2 (20GUA00QCD)13.3英寸超霸
								</p>
							</li>
							<li>
								<a href="product_details.html?lid=19">
									<img data-url="img/product_detail/product_detail_2.png"/>
								</a>
								<p>
									戴尔 DELL燃7000 R1605S 超霸
								</p>
							</li>
							<li>
								<a href="product_details.html?lid=22">
									<img data-url="img/product_detail/product_detail_3.png"/>
								</a>
								<p>
									戴尔(DELL)魔方15MF Pro-R2505TSS灵									
								</p>
							</li>
							<li>
								<a href="product_details.html?lid=13">
									<img data-url="img/product_detail/product_detail_4.png"/>
								</a>
								<p>
									华硕(ASUS)13.3英寸RX310UQ金属超极本
								</p>
							</li>
							<li>
								<a href="product_details.html?lid=28">
									<img data-url="img/product_detail/product_detail_1.png"/>
								</a>
								<p>
									ThinkPad New S2 (20GUA00QCD)13.3英寸超霸
								</p>
							</li>
							<li>
								<a href="product_details.html?lid=19">
									<img data-url="img/product_detail/product_detail_2.png"/>
								</a>
								<p>
									戴尔 DELL燃7000 R1605S 超霸									
								</p>
							</li>
							<li>
								<a href="product_details.html?lid=22">
									<img data-url="img/product_detail/product_detail_3.png"/>
								</a>
								<p>
									戴尔(DELL)魔方15MF Pro-R2505TSS灵									
								</p>
							</li>
							<li>
								<a href="product_details.html?lid=13">
									<img data-url="img/product_detail/product_detail_4.png"/>
								</a>
								<p>
									华硕(ASUS)13.3英寸RX310UQ金属超极本
								</p>
							</li>
						</ul>
						
						<div>
						</div>
					</div>
				</div>
				
				<div class="flex">
					<div class="f-8">
						<div class="flexRowCenter">
							<button>商品详情</button>						
						</div>
						<div>
							<p id="specification_parameter" >规格参数<img data-url="img/product_detail/product_detail_icon_1.png"/></p>
							<div>
								<div class="flexRowCenter">
									<p>商品名称：{{product.lname}}</p>
									<p>系统：{{product.os}}</p>
									<p>内存容量：{{product.memory}}</p>
								</div>
								<div class="flexRowCenter">
									<p>分辨率：{{product.resolution}}</p>
									<p>显卡型号：{{product.video_card}}</p>
									<p>处理器：{{product.cpu}}</p>
								</div>
								<div class="flexRowCenter">
									<p>显存容量：{{product.video_memory}}</p>
									<p>分类：{{product.category}}</p>
									<p>硬盘容量：{{product.disk}}</p>
								</div>
							</div>
						</div>
						<div>
							<p id="product_introduction" >商品介绍<img  data-url="img/product_detail/product_detail_icon_4.png"/></p>
							<img v-for="pic in product.details" :data-url="pic"/>
						</div>
						<div>
							<p id="sale_protection" >售后保障<img  data-url="img/product_detail/product_detail_icon_3.png"/></p>
							<hr />
							<div class="flexRowCenter" >
								<img  data-url="img/product_detail/product_detail_img16.png"/>
								<p>正品保障</p>
							</div>
							<p>达内学子商城向您保证所售商品均为正品行货，达内自营商品开具机打发票或电子发票。</p>
							<div class="flexRowCenter" >
								<img  data-url="img/product_detail/product_detail_img16.png"/>
								<p>全国联保</p>
							</div>
							<p>凭质保证书及达内商城发票，可享受全国联保服务，与您亲临商场选购的商品享受相同的质量保证。达内商城还为您提供具有竞争力的商品价格和运费政策，请您放心购买！ 注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！</p>
							<hr />
						</div>
						<div >
							<p id="packing_list">包装清单<img  data-url="img/product_detail/product_detail_icon_2.png"/></p>
							<p>笔记本 x1 适配器 x1 电源线 x1 电池 x1 说明书（电子版）x1 备注：笔记本电脑的背面只会标注此电脑的系列，例如： XPS 13-9360 ， 如果您需要核实此电脑的具体配置型号是否与达内页面相符，可电话咨询达内厂商：800-858-2969</p>							
						</div>
						
					</div>
					<form class="f-2">
						<div>
							<input type="button" value="加入购物车">
							<a href="#specification_parameter"><p>规格参数</p></a>
							<a href="#product_introduction"><p>商品介绍</p></a>
							<a href="#sale_protection"><p>售后保障</p></a>
							<a href="#packing_list"><p>包装清单</p></a>
							<a href="lookforward.html" target="_blank"><p>商品评价</p></a>
							<a href="#"><p>回到顶部</p></a>
						</div>
					</form>
				</div>
			</div>
			
			<iframe  data-url="foot_1.html" frameborder="0"scrolling="no" width="100%" height="120px" ></iframe>
		</div>
		<iframe  data-url="foot_2.html" frameborder="0"scrolling="no" width="100%" height="174px" ></iframe>
	</body>
</html><!--